//
// Base: Variables
// ----------------------------------------------------------------------------


// Colors
// ----------------------------------------------

$shark: #202126;
$storm-gray: #737580;
$athens-gray: #e3e4e8;


// Fonts
// ----------------------------------------------

$font-sans: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Arial, sans-serif;
$font-serif: Lexia, lexia, Georgia, 'Times New Roman', serif;
$font-mono: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
$font-amp: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
