	<footer class="footer container" role="contentinfo">
		<small>Made with <span title="Love">♥</span> in Dublin's fair city. <span>You can find me on <a href="https://github.com/{{ site.author.github }}">GitHub</a>, <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a> and <a href="https://instagram.com/{{ site.author.instagram }}">Instagram</a>.</span></small>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ site.baseurl }}assets/js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="{{ site.baseurl }}assets/js/main.js"></script>

	{% include analytics.html %}

</body>
</html>