<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

	<title>{% if page.title %}{{ page.title }} / {% endif %}{{ site.title }}</title>

	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	{% if page.title %}
	<meta property="og:title" content="{{ page.title }}">
	<meta property="twitter:title" content="{{ page.title }}">
	{% endif %}

	<meta name="author" content="{{ site.author.name }}">

	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">

	<link rel="canonical" href="{{ page.url | replace:'/index.html','' | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}feed.xml">

	<script src="//use.typekit.net/zco3qqa.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>
<body class="is-{{ page.class }}">

	<header class="header container" role="banner">

		<h1 class="logo ir">
			<a href="/">
				<img src="{{ site.baseurl }}assets/img/logo.svg" alt="{{ site.title }}" width="70" height="79">
				{{ site.title }}
			</a>
		</h1>

		<nav class="nav" role="navigation">
			<a {% if page.class == "about" %}class="is-active"{% endif %} href="/">About</a>
			<a {% if page.class == "work" %}class="is-active"{% endif %} href="/work">Work</a>
			<a {% if page.class == "blog" %}class="is-active"{% endif %} href="/blog">Blog</a>
			<a {% if page.class == "contact" %}class="is-active"{% endif %} href="/contact">Contact</a>
		</nav>

	</header>