<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

	<title>{% if page.title %}{{ page.title }} / {% endif %}{{ site.title }}</title>

	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	{% if page.title %}
	<meta property="og:title" content="{{ page.title }}">
	<meta property="twitter:title" content="{{ page.title }}">
	{% endif %}

	<meta name="author" content="{{ site.author.name }}">

	<link rel="stylesheet" href="{{ "assets/css/normalize.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">

	<link rel="canonical" href="{{ page.url | replace:'/index.html','' | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl }}">

	<script src="//use.typekit.net/zco3qqa.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>
<body class="{% body_class %}">

	<header class="header" role="banner">

		<nav class="nav container" role="navigation">
			<h1 class="logo ir">
				<a href="/">
					<img src="{{ "assets/img/logo.svg" | prepend: site.baseurl }}" alt="{{ site.title }}" width="70" height="79">
					{{ site.title }}
				</a>
			</h1>
			<ul>
				<!-- <li><a {% if page.layout == "default" %}class="is-active"{% endif %} href="/">About</a></li>
				<li><a {% if page.layout == "work" %}class="is-active"{% endif %} href="/work">Work</a></li> -->
				<li><a {% if page.layout == "blog" %}class="is-active"{% endif %} href="/blog">Blog</a></li>
				<li><a {% if page.layout == "contact" %}class="is-active"{% endif %} href="/contact">Contact</a></li>
			</ul>
		</nav>

		<div class="intro container clearfix">
			<div class="row">
				<div class="col col-2-3">
					{% if page.layout == "default" %}
						<h1>Edmundo Junior, web designer and front-end developer.</h1>
						<p>Problem-solving is the favourite part of my job. I develop functional websites that work in every OS or device that the user has in his hands. I’m always striving for a unique experience, using well thought design and a extremely thorough execution.</p>
					{% elsif page.layout == "work" %}
						<h1>Lorem ipsum dolor sit amet.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quod.</p>
					{% elsif page.layout == "blog" %}
						<h1>Web design and development blog.</h1>
						<p>Mostly design and code, but may also contain traces of random nerdy stuff.</p>
					{% else page.layout == "contact" %}
						<h1>Let's get down to business.</h1>
						<p>I'm always looking for new opportunities to challenge myself, have you got one?</p>
					{% endif %}
				</div>
			</div>
		</div>

	</header>