//
// Header
// ----------------------------------------------------------------------------

.header {
	position: relative;
	padding: 2.5em 0;
	border-bottom: 3px solid rgba(255,255,255,.04);

	@include respond-to(large) {
		padding: 2em 0;
	}

	@include respond-to(medium) {
		padding: 1.5em 0;
	}

	@include respond-to(tiny) {
		padding: 1em 0;
		text-align: center;
	}
}


// Logo
// ----------------------------------------------

.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	user-select: none;

	.is-about & {
		pointer-events: none;
	}

	// Hover about link
	&:hover + .nav a:first-child {
		opacity: .75;

		span {
			color: transparent;
			transform: translate3d(0,-50%,0);

			&::before {
				color: #e3e4e8;
				opacity: 1;
			}
		}
	}

	@include respond-to(medium) {
		max-width: 60px;
	}

	@include respond-to(tiny) {
		display: block;
		max-width: 40px;
		margin: 0 auto 10px;
	}
}


// Navigation
// ----------------------------------------------

.nav {
	display: inline-block;
	font-size: .888888889em;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 1.5em;

	@include respond-to(medium) {
		padding-left: 1em;
	}

	@include respond-to(tiny) {
		padding-left: 0;
	}

	a {
		display: inline-block;
		vertical-align: middle;
		padding: 1em;
		text-decoration: none;
		color: #e3e4e8;
		opacity: .5;
		transition: opacity .25s;

		@include respond-to(medium) {
			padding: .5em;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		span {
			position: relative;
			display: inline-block;
			transition: all .3s;

			&::before {
				position: absolute;
				top: 50%;
				opacity: 0;
				content: attr(data-hover);
				transition: all .3s;
			}
		}
	}

	a:hover,
	a:focus {
		opacity: .75;

		span {
			color: transparent;
			transform: translate3d(0,-50%,0);

			&::before {
				color: #e3e4e8;
				opacity: 1;
			}
		}
	}

	.is-active {
		opacity: 1;
		pointer-events: none;
	}
}



//
// Intro
// ----------------------------------------------------------------------------

.intro {
	padding: 5em 0;

	@include respond-to(large) {
		padding: 4em 0;
	}

	@include respond-to(medium) {
		padding: 3em 0;
	}

	@include respond-to(tiny) {
		padding: 2em 0;
	}

	h1 {
		position: relative;
		margin: 0;
		color: #ece9f2;
		cursor: help;

		&::before {
			// display: none;
			position: absolute;
			top: -2em;
			left: 25%;
			font-size: 14px;
			line-height: 1em;
			white-space: nowrap;
			color: $main-color;
			opacity: 0;
			border-radius: 2px;
			transform: translateY(5px);
			transition: opacity .3s, transform .3s;
			pointer-events: none;
			content: attr(data-hover);
		}

		&:hover::before {
			opacity: .25;
			transform: translateY(0);
		}
	}

	p {
		margin: .8em 0 0;
		font-size: 1.555555556em;
		line-height: 1.266666667em;

		@include respond-to(tiny) {
			font-size: 1.428571429em;
		}
	}
}



// Morphing device
// ----------------------------------------------

.device {
	$outline: rgba(255,255,255,.1);
	$easing: cubic-bezier(1,.015,.295,1.225);
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 70%;
	margin: 0 auto;
	border: 2px solid #ebcb63;
	border-radius: 6px;
	box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
	backface-visibility: hidden;
	animation: morphDevice 10s infinite $easing forwards;

	@include respond-to(large) {
		margin-top: 40%;
	}

	@include respond-to(medium) {
		display: none;
	}

	figcaption {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 10px;
		height: 10px;
		background: $outline;
		box-shadow: 15px 0 0 $outline, 30px 0 0 $outline;
		border-radius: 50%;
		animation: morphButtons 10s infinite $easing forwards;
		backface-visibility: hidden;
	}
}

@keyframes morphDevice {
	$outline: rgba(255,255,255,.1);
	0%, 15% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ebcb63;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		transform: rotate(0);
	}
	25%, 40% {
		width: 70%;
		padding-top: 55%;
		margin-top: 7.5%;
		border-color: #4b8ac4;
		box-shadow: 9px -9px 0 -2px $bg-color, 9px -9px 0 $outline;
		transform: rotate(90deg);
	}
	50%, 65% {
		width: 28%;
		padding-top: 42%;
		margin-top: 15%;
		border-color: #ece9f2;
		box-shadow: -8px -8px 0 -2px $bg-color, -8px -8px 0 $outline;
		transform: rotate(180deg);
	}
	75%, 90% {
		width: 55%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #57c39f;
		box-shadow: -9px 9px 0 -2px $bg-color, -9px 9px 0 $outline;
		transform: rotate(270deg);
	}
	100% {
		width: 100%;
		padding-top: 70%;
		margin-top: 0;
		border-color: #ebcb63;
		box-shadow: 10px 10px 0 -2px $bg-color, 10px 10px 0 $outline;
		transform: rotate(360deg);
	}
}

@keyframes morphButtons {
	0%, 15%, 100% {
		top: 12px;
		left: 12px;
		margin: 0;
		background: #ebcb63;
		box-shadow: 15px 0 0 rgba(255,255,255,.1), 30px 0 0 rgba(255,255,255,.1);
		transform: scale(1);
	}
	25%, 40% {
		top: 50%;
		left: 100%;
		margin: -5px 0 0 -20px;
		background: #4b8ac4;
		box-shadow: 0 0 0 250px rgba(255,255,255,0.05), 0 0 0 100px transparent;
		transform: scale(.9);
	}
	50%, 65% {
		top: 10px;
		left: 50%;
		margin: 0 0 0 -5px;
		background: #ece9f2;
		box-shadow: 0 -30px 0 rgba(255,255,255,.05), 0 -30px 0 rgba(255,255,255,.05);
		transform: scale(.8);
	}
	75%, 90% {
		top: 100%;
		left: 50%;
		margin: -20px 0 0 -5px;
		background: #57c39f;
		box-shadow: 0 0 0 250px rgba(255,255,255,0.05), 0 0 0 100px transparent;
		transform: scale(.9);
	}
}