//
// Layout: Grid
// ----------------------------------------------------------------------------


// Main area
// ----------------------------------------------

.main {
	position: relative;
	padding: 4em 0;

	@include breakpoint(800) {
		padding: 2.5em 0;
	}
}


// Container sizes
// ----------------------------------------------

.container {
	position: relative;
	width: 90%;
	max-width: 52.222222222em;
	margin: 0 auto;

	&--narrow {
		max-width: 45.222222222em;
	}

	&--wide {
		max-width: 57.222222222em;
	}

	&--full {
		width: 100%;
		max-width: none;
	}
}


// Rows
// ----------------------------------------------

.row {
	clear: both;
	margin: 0 -2%;

	& + & {
		margin-top: 4%;
	}
}


// Columns
// ----------------------------------------------

.col {
	float: left;
	width: 96%;
	margin: 0 2%;

	&-1-2 {
		width: 46%;
	}

	&-1-3 {
		width: 29.333333333%;
	}

	&-2-3 {
		width: 62.666666666%;
	}

	&-1-4 {
		width: 21%;

		@include breakpoint(1000) {
			width: 46%;
		}
	}

	@include breakpoint(800) {
		&-1-2,
		&-1-3,
		&-2-3 {
			width: 96%;
		}
	}
}