//
// Module: Header
// ----------------------------------------------------------------------------

.header {
	position: relative;
	padding: 2.5em 0;
	border-bottom: 3px solid rgba(255,255,255,.04);

	@include breakpoint(1000) {
		padding: 2em 0;
	}

	@include breakpoint(800) {
		padding: 1.5em 0;
	}

	@include breakpoint(400) {
		padding: 1em 0;
		text-align: center;
	}
}


// Logo
// ----------------------------------------------

.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	user-select: none;

	.is-about & {
		pointer-events: none;
	}

	// Hover about link
	&:hover + .nav a:first-child {
		opacity: .75;

		span {
			color: transparent;
			transform: translate3d(0,-50%,0);

			&::before {
				color: $athens-gray;
				opacity: 1;
			}
		}
	}

	@include breakpoint(800) {
		max-width: 60px;
	}

	@include breakpoint(400) {
		display: block;
		max-width: 40px;
		margin: 0 auto 10px;
	}
}


// Navigation
// ----------------------------------------------

.nav {
	display: inline-block;
	font-size: .888888889em;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 1.5em;

	@include breakpoint(800) {
		padding-left: 1em;
	}

	@include breakpoint(400) {
		padding-left: 0;
	}

	a {
		display: inline-block;
		vertical-align: middle;
		padding: 1em;
		text-decoration: none;
		color: $athens-gray;
		opacity: .5;
		transition: opacity .25s;

		@include breakpoint(800) {
			padding: .5em;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		span {
			position: relative;
			display: inline-block;
			transition: all .3s;

			&::before {
				position: absolute;
				top: 50%;
				opacity: 0;
				content: attr(data-hover);
				transition: all .3s;
			}
		}
	}

	a:hover,
	a:focus {
		opacity: .75;

		span {
			color: transparent;
			transform: translate3d(0,-50%,0);

			&::before {
				color: $athens-gray;
				opacity: 1;
			}
		}
	}

	.is-active {
		opacity: 1;
		pointer-events: none;
	}
}



//
// Intro
// ----------------------------------------------------------------------------

.intro {
	padding: 5em 0;

	@include breakpoint(1000) {
		padding: 4em 0;
	}

	@include breakpoint(800) {
		padding: 3em 0;
	}

	@include breakpoint(400) {
		padding: 2em 0;
	}

	h1 {
		position: relative;
		margin: 0;
		color: $athens-gray;
		cursor: help;

		&::before {
			// display: none;
			position: absolute;
			top: -2em;
			left: 25%;
			font-size: 14px;
			line-height: 1em;
			white-space: nowrap;
			color: $storm-gray;
			opacity: 0;
			border-radius: 2px;
			transform: translateY(5px);
			transition: opacity .3s, transform .3s;
			pointer-events: none;
			content: attr(data-hover);
		}

		&:hover::before {
			opacity: .25;
			transform: translateY(0);
		}
	}

	p {
		margin: .8em 0 0;
		font-size: 1.555555556em;
		line-height: 1.266666667em;

		@include breakpoint(400) {
			font-size: 1.428571429em;
		}
	}

	a {
		text-decoration: none;
		color: $athens-gray;
	}
}