/* Edmundo Junior
 * @edmundojr_ */

/* ==========================================================================
   Let's keep some things straight
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

body,
html {
	height: 100%;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */

body {
	font: 400 1.125em/1.555555556em "Proxima Nova", "proxima-nova", sans-serif;
	color: #949199;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #18181c;
}

@media (max-width: 50em) {

	body {
		font-size: 1em;
	}

}

@media (max-width: 40em) {

	body {
		font-size: .875em;
	}

}

/* Typography
   ========================================================================== */

/* Titles */

h1,
h2,
h3,
h4 {
	font-weight: bold;
	line-height: 1.1em;
	margin-bottom: .3em;
	color: #ece9f2;
}

h1 {
	font-size: 3em;
	font-weight: 600;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.333333333em;
	font-weight: 600;
	text-transform: uppercase;
}

h1:first-child,
h2:first-child {
	margin-top: 0;
}

h4:first-child {
	margin-top: .833333333em;
}

@media (max-width: 30em) {

	h1 {
		font-size: 2.3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

}

/* Page title */

.main-title {
	position: relative;
	padding-bottom: .4em;
}

.main-title::before {
	position: absolute;
	bottom: 0;
	width: 100px;
	border-bottom: 2px solid;
	border-color: inherit;
	opacity: .2;
	content: "";
}

/* Quotes */

blockquote {
	position: relative;
	padding-left: 1.5em;
	margin: 1em 0;
	font: 300 1.3em/1.230769231em "lexia", serif;
	color: #c6c2cc;
}

blockquote::before {
	position: absolute;
	top: 7px;
	left: 0;
	width: 3px;
	height: 84%;
	font-size: 1.5em;
	color: #c6c2cc;
	background: #949199;
	border-radius: 3px;
	content: "";
}

blockquote a {
	font-weight: 300;
}

blockquote footer {
	margin: .5em 0;
	font: 100 20px/1.4em "proxima-nova", "Proxima Nova", sans-serif;
	color: #949199;
}

blockquote::before {
	background: transparent;
	content: "“";
}

/* Ruler */

hr {
	display: block;
	max-width: 12em;
	padding: 0;
	margin: 2em 0;
	border: 0;
	border-top: 2px solid #414145;
	border-top: 2px solid rgba(255,255,255,.15);
}

/* Small */

small {
	font-size: .888888889em;
}

/* Ampersand */

.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style: italic;
	font-weight: normal;
}

/* Helper classes
   ========================================================================== */

/* Clearfix */

.cf::before,
.cf::after {
	content: "";
	display: table;
}

.cf::after {
	clear: both;
}

/* Image replacement */

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/* Buttons */

.btn {
	display: inline-block;
	padding: .2em .8em;
	margin-top: .5em;
	font-size: .9em;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	border: 2px solid #dad4e5;
	border-radius: 25px;
	-webkit-transition: color .3s, background .3s, border .3s;
	   -moz-transition: color .3s, background .3s, border .3s;
	    -ms-transition: color .3s, background .3s, border .3s;
	     -o-transition: color .3s, background .3s, border .3s;
	        transition: color .3s, background .3s, border .3s;
}

.btn:hover,
.btn:focus {
	color: #fff;
	background: #626273;
	border-color: #626273;
}

/* ==========================================================================
   Structure & Grid
   ========================================================================== */

/* Container */

.container {
	position: relative;
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
}

.container--narrow {
	max-width: 52.222222222em;
}

/* Main area */

.main {
	padding: 5em 0 2em;
}

@media (max-width: 35em) {

	.main {
		padding: 2.5em 0 1.5em;
	}

}

/* Grid system
   ========================================================================== */

.temp .col {
	padding: 2em;
	margin: 2%;
	background: #fff;
}

.col {
	float: left;
	width: 96%;
	margin: 0 2%;
}

.row {
	clear: both;
	margin: 0 -2%;
}

.col-1-2 { width: 46%; }
.col-1-3 { width: 29.333333333%; }
.col-2-3 { width: 62.666666666%; }
.col-1-4 { width: 21%; }

@media (max-width: 50em) {

	.col-1-4 { width: 46%; }

}

@media (max-width: 40em) {

	.col-1-2,
	.col-1-3,
	.col-2-3 { width: 96%; }

}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	width: 100%;
	background-color: #18181c;
	background-image: radial-gradient(ellipse at 25% 90%, #202126, #101012);
	background-position: top center;
	background-repeat: no-repeat;
}

/* Logo
   ========================================================================== */

.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

/* Navigation
   ========================================================================== */

.nav {
	padding: 2.5em 0;
	border-bottom: 1px solid rgba(255,255,255,.04);
}

.nav ul {
	display: inline-block;
	font-size: .888888889em;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 0 1.5em;
	list-style: none;
}

.nav li {
	display: inline-block;
	vertical-align: middle;
}

.nav a {
	padding: 1em;
	text-decoration: none;
	color: #737580;
	transition: color .25s;
}

.nav a:hover,
.nav a:focus {
	color: #acaeb9;
}

.nav .is-active {
	pointer-events: none;
	color: #e3e4e8;
}

@media (max-width: 30em) {

	.logo {
		max-width: 40px;
	}

	.nav ul {
		padding-left: 1em;
	}

	.nav a {
		padding: .6em .75em;
	}

	.nav li:last-child a {
		padding-right: 0;
	}
}

/* Introduction, open line
   ========================================================================== */

.intro {
	padding: 5em 0;
}

.intro p {
	margin: .8em 0 0;
	font-size: 1.555555556em;
	line-height: 1.266666667em;
}

@media (max-width: 30em) {

	.intro {
		padding: 2.5em 0;
	}

	.intro p {
		font-size: 1.428571429em;
	}

}

/* Device */

.device {
	position: relative;
	width: 100%;
	padding-top: 75%;
	margin: 8% auto 0;
	border: 2px solid #59b453;
	border-radius: 6px;
	box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	-webkit-backface-visibility: hidden;
	-webkit-animation: morph 10s infinite cubic-bezier(1,.015,.295,1.225) forwards;
}

@-webkit-keyframes morph {

	0%, 15% {
		width: 100%;
		padding-top: 75%;
		border-color: #59b453;
		transform: rotate(0);
		box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	}

	25%, 40% {
		width: 70%;
		padding-top: 55%;
		border-color: #ebcb63;
		transform: rotate(-90deg) translateX(-30px);
		box-shadow: -10px 10px 0 -2px #161619, -10px 10px 0 rgba(255,255,255,.1);
	}

	50%, 65% {
		width: 25%;
		padding-top: 40%;
		border-color: #e14441;
		transform: rotate(-180deg) translateY(-40px);
		box-shadow: -10px -10px 0 -2px #161619, -10px -10px 0 rgba(255,255,255,.1);
	}

	75%, 90% {
		width: 70%;
		padding-top: 55%;
		border-color: #4b8ac4;
		transform: rotate(-270deg) translateX(30px);
		box-shadow: 10px -10px 0 -2px #161619, 10px -10px 0 rgba(255,255,255,.1);
	}

	100% {
		width: 100%;
		padding-top: 75%;
		border-color: #59b453;
		transform: rotate(-360deg);
		box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	}

}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	clear: both;
	margin-top: 8%;
	padding: 1em 1.5em;
	line-height: 1.2em;
	background: rgba(0,0,0,.5);
	opacity: .5;
	transition: opacity .25s;
}

.color-bright .footer {
	background: rgba(255,255,255,.75);
}

.footer:hover {
	opacity: 1;
}

.footer span {
	white-space: nowrap;
}

.footer a {
	text-decoration: none;
	border-bottom: 1px solid;
	border-color: inherit;
	color: inherit;
	opacity: .5;
	transition: opacity .25s;
}

.footer a:hover {
	opacity: 1;
}

/* ==========================================================================
   Page specifics (.main--$page)
   ========================================================================== */

/* About
   ========================================================================== */

.main--about {
	min-height: 800px;
	background-image: linear-gradient(#060607, #141517);
}

/* Work (possible)
   ========================================================================== */

.main--work {
	min-height: 800px;
	background-color: #e3e4e8;
	background-image: radial-gradient(circle at 2% 90%, #e3e4e8, transparent 100%), radial-gradient(circle at 98% 0%, #e3e4e8, transparent 100%),radial-gradient(circle at 50% 50%, #b1b2b9, #b1b2b9 100%);
}

/* Contact
   ========================================================================== */

.main--contact {
	color: #363430;
	background: #ffdf5e;
}

.main--contact h1,
.main--contact h2,
.main--contact h3 {
	color: #363430;
}

/* Sidebar */

.main--contact .sidebar {
	margin-top: 3.5em;
	padding: .75em 1.5em;
	color: #899fa9;
	background: #a3ddd4;
	box-shadow: 0 1px 1px rgba(53,51,48,.2);
}

.main--contact h4 {
	color: #5f7993;
}

.contact-me {
	padding: 0;
	margin-top: 0;
	list-style: none;
}

.contact-me a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid rgba(95,121,147,.25);
	transition: color .25s;
}

.contact-me a:hover,
.contact-me a:focus {
	color: #5f7993;
}

/* Contact Form */

.contact-form input,
.contact-form textarea {
	width: 100%;
	padding: .8em 1.2em;
	margin: 2% 0;
	color: #363430;
	background: transparent;
	background: #f2e9d7;
	border: 1px solid #fccc2a;
	border-radius: 0;
	transition: border .25s;
	-webkit-appearance: none;
}

.contact-form textarea {
	resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
	border-color: #e8b22a;
	outline: none;
}

/* Placeholder */

.contact-form ::-webkit-input-placeholder { color: #ddb861; }
.contact-form :-moz-placeholder           { color: #ddb861; }
.contact-form ::-moz-placeholder          { color: #ddb861; }
.contact-form :-ms-input-placeholder      { color: #ddb861; }

/* Submit */

.contact-form .submit {
	position: relative;
	width: auto;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #deb754;
	background: #fffb89;
	border: none;
	box-shadow: 0 1px 2px #dcc45f;
	transition:
		color .25s,
		background .25s;
}

.contact-form .submit:hover,
.contact-form .submit:focus {
	color: #d9ab38;
	background: #fff671;
}

.contact-form .submit:active {
	top: 1px;
	box-shadow: 0 0 1px #dcc45f;
}

/* ==========================================================================
   Portfolio / Works
   ========================================================================== */

/* Diagonal separator */

.work {
	position: relative;
	padding: 3em 0;
	background: #ece9f2;
}

.work::before,
.work::after {
	position: absolute;
	top: -150px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 200px;
	background: inherit;
	pointer-events: none;
	content: "";
	-webkit-backface-visibility: hidden;
	-webkit-transform: skew(0,2deg);
	   -moz-transform: skew(0,2deg);
	    -ms-transform: skew(0,2deg);
	     -o-transform: skew(0,2deg);
	        transform: skew(0,2deg);
}

.work::before {
	background: rgba(236,233,242,.5);
	-webkit-transform: skew(0,-2deg);
	   -moz-transform: skew(0,-2deg);
	    -ms-transform: skew(0,-2deg);
	     -o-transform: skew(0,-2deg);
	        transform: skew(0,-2deg);
}

/* Single Job
   ========================================================================== */

.job {
	padding-top: 3em;
	padding-bottom: 3em;
}

/* Browser Frame */

.browser-frame {
	position: relative;
	padding-top: 1.6em;
	background: #aeaeae;
	border-radius: 5px;
	box-shadow: 0 6px 20px rgba(0,0,0,.1);
}

.browser-frame img {
	width: 100%;
	border-radius: 0 0 5px 5px;
}

.browser-frame::before {
	position: absolute;
	top: 11px;
	left: 12px;
	width: 10px;
	height: 10px;
	background: #fff;
	content: "";
	box-shadow: 17px 0 0 #fff, 34px 0 0 #fff;
	border-radius: 50%;
}

/* Job Info */

.job-info {
	/*padding-top: 3em;*/
	text-align: right;
}

.browser-frame + .job-info {
	text-align: left;
}

.job-info h2 {
	color: #626273;
}

.job-info p {
	color: #949199;
}

.job-info strong {
	font-weight: 400;
	color: #7a7780;
}