---
# Edmundo Junior / @edmundojr_
---

// Imports
@import "normalize";

/* ==========================================================================
   Basic styles: defaults
   ========================================================================== */

html {
	font-size: 1.125em;
	line-height: 1.555555556;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
 * Remove the gap between elements
 * and the bottom of their containers
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Responsive images
 */

img {
	max-width: 100%;
	height: auto;
}

/*
 * Remove default fieldset styles
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Remove default figure margin
 */

figure {
	margin: 0;
}

/*
 * Allow only vertical resizing of textareas
 */

textarea {
	resize: vertical;
}

/*
 * Remove default iOS styles
 */

input,
textarea {
	border-radius: 4px;
	-webkit-appearance: none;
}

/*
 * Links default
 */

a {
	color: inherit;
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*
 * Image replacement
 */

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/*
 * Hide elements
 */

.hidden {
	display: none;
	visibility: hidden;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4 {
	font-weight: bold;
	line-height: 1.1em;
	margin-bottom: .5em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.333333333em;
	font-weight: 600;
	text-transform: uppercase;
}

h1:first-child,
h2:first-child {
	margin-top: .15em;
}

h4:first-child {
	margin-top: .5em;
}

@media (max-width: 400px) {

	h1 {
		font-size: 2.3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

}

/*
 * A better looking horizontal rule
 */

hr {
	display: block;
	width: 6px;
	height: 6px;
	padding: 0;
	margin: 2em auto;
	background: rgba(0,0,0,.2);
	border: none;
	border-radius: 50%;
	box-shadow: -20px 0 0 rgba(0,0,0,.2), 20px 0 0 rgba(0,0,0,.2);
}

q {
	font-style: italic;
}

/*
 * Main Title
 */

.main__title {
	position: relative;
	padding-bottom: .4em;

	&:before {
		position: absolute;
		bottom: 0;
		width: 80px;
		border-bottom: 3px solid;
		border-color: inherit;
		opacity: .5;
		content: "";
	}

}

/*
 * Small
 */

small {
	font-size: .888888889em;
}

/*
 * Custom ampersand
 */

.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style: italic;
	font-weight: normal;
}

/*
 * Sidebar lists
 */

.link-list {
	padding: 0;
	margin-top: 0;
	list-style: none;

	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 1px solid rgba(0,0,0,.25);
		transition: opacity .25s;
	}

	a:hover,
	a:focus {
		opacity: .5;
	}

}

/* ==========================================================================
   Main Styles
   ========================================================================== */

body {
	font-family: "Proxima Nova", "proxima-nova", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #5a5466;
	background-color: #202126;
	background-repeat: no-repeat;
	background-position: 80% 0;
}

@media (max-width: 800px) {

	body {
		font-size: 1em;
	}

}

@media (max-width: 600px) {

	body {
		font-size: .875em;
	}

}

/* ==========================================================================
   Structure & Grid
   ========================================================================== */

.container {
	position: relative;
	width: 90%;
	max-width: 52.222222222em;
	margin: 0 auto;

	&--wide {
		max-width: 57.222222222em;
	}

}

/**
 * Main Area
 */

.main {
	position: relative;
	padding: 5em 0;
}

@media (max-width: 600px) {

	.main {
		padding: 2.5em 0;
	}
}

/* Sidebar */

.sidebar {
	padding: 2em 2.5em;
	border-radius: 4px;
}

/* Grid system
   ========================================================================== */

.col {
	float: left;
	width: 96%;
	margin: 0 2%;
}

.row {
	margin: 0 -2%;
}

.row + .row {
	margin-top: 4%;
}

.col-1-2 {
	width: 46%;
}

.col-1-3 {
	width: 29.333333333%;
}

.col-2-3 {
	width: 62.666666666%;
}

.col-1-4 {
	width: 21%;
}

@media (max-width: 50em) {

	.col-1-4 {
		width: 46%;
	}
}

@media (max-width: 600px) {

	.col-1-2,
	.col-1-3,
	.col-2-3 {
		width: 96%;
	}
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	position: relative;
	padding: 2.5em 0;

	&:before {
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 3px;
		background: #28292e;
		background: rgba(255,255,255,.04);
		border-radius: 4px;
		content: "";
	}
}

/*
 * Logo
 */

.logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

/*
 * Navigation
 */

.nav {
	display: inline-block;
	font-size: .888888889em;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 1.5em;

	a {
		display: inline-block;
		vertical-align: middle;
		padding: 1em;
		text-decoration: none;
		color: #737580;
		transition: color .25s;
	}

	a:hover,
	a:focus {
		color: #acaeb9;
	}

	.is-active {
		color: #e3e4e8;
	}
}

@media (max-width: 800px) {

	.header {
		padding: 2em 0;
	}

}

@media (max-width: 600px) {

	.header {
		padding: 1.5em 0;
	}

	.logo {
		max-width: 60px;
	}

	.nav {
		padding-left: .75em;

		a {
			padding: .75em;
		}
	}

}

@media (max-width: 400px) {

	.header {
		padding: 1em 0;
		text-align: center;
	}

	.logo {
		display: block;
		max-width: 40px;
		margin: 0 auto 10px;
	}

	.nav {
		padding-left: .5em;

		a {
			padding: .5em;
		}

		a:last-child {
			padding-right: 0;
		}
	}

}

/* ==========================================================================
   Opening lines, introduction
   ========================================================================== */

.intro {
	padding: 5em 0;

	h1 {
		margin: 0;
		color: #ece9f2;
	}

	p {
		margin: .8em 0 0;
		font-size: 1.555555556em;
		line-height: 1.266666667em;
		color: #737580;
	}
}

@media (max-width: 800px) {

	.intro {
		padding: 4em 0;
	}

}

@media (max-width: 600px) {

	.intro {
		padding: 3em 0;
	}

}

@media (max-width: 400px) {

	.intro {
		padding: 2em 0;

		p {
			font-size: 1.428571429em;
		}
	}

}

/* Morphing Device
   ========================================================================== */

.device {
	position: relative;
	width: 100%;
	padding-top: 75%;
	margin: 8% auto 0;
	border: 2px solid #ebcb63;
	border-radius: 6px;
	box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	-webkit-backface-visibility: hidden;
	-webkit-animation: morph 10s infinite cubic-bezier(1,.015,.295,1.225) forwards;
}

@-webkit-keyframes morph {

	0%, 15% {
		width: 100%;
		padding-top: 75%;
		border-color: #ebcb63;
		transform: rotate(0);
		box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	}

	25%, 40% {
		width: 70%;
		padding-top: 55%;
		border-color: #4b8ac4;
		transform: rotate(90deg) translateX(30px);
		box-shadow: 10px -10px 0 -2px #161619, 10px -10px 0 rgba(255,255,255,.1);
	}

	50%, 65% {
		width: 25%;
		padding-top: 40%;
		border-color: #e14441;
		transform: rotate(180deg) translateY(-40px);
		box-shadow: -10px -10px 0 -2px #161619, -10px -10px 0 rgba(255,255,255,.1);
	}

	75%, 90% {
		width: 70%;
		padding-top: 55%;
		border-color: #4b8ac4;
		transform: rotate(270deg) translateX(-30px);
		box-shadow: -10px 10px 0 -2px #161619, -10px 10px 0 rgba(255,255,255,.1);
	}

	100% {
		width: 100%;
		padding-top: 75%;
		border-color: #ebcb63;
		transform: rotate(360deg);
		box-shadow: 10px 10px 0 -2px #161619, 10px 10px 0 rgba(255,255,255,.1);
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	clear: both;
	padding: 2.5em 0;
	line-height: 1.2em;

	&:hover {
		opacity: 1;
	}

	span {
		white-space: nowrap;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid;
		border-color: inherit;
		color: inherit;
		opacity: .5;
		transition: opacity .25s;

		&:hover {
			opacity: 1;
		}
	}

}

/* ==========================================================================
   Page: About
   ========================================================================== */

.main--about {
	color: #ccc;
	background: rgba(0,0,0,.25);
}

/*
 * Latest Posts
 */

.latest-posts {
	padding: 0;
	list-style: none;

	a {
		display: inline-block;
		padding: .5em 1em;
		margin-bottom: 1em;
		text-decoration: none;
		border-radius: 4px;
	}

	time {
		display: inline-block;
		padding-right: .8em;
		margin-right: .6em;
		font-size: .888888889em;
		opacity: .5;
		border-right: 1px solid rgba(0,0,0,.2);
		-webkit-font-feature-settings: 'tnum';
		-moz-font-feature-settings: 'tnum';
		-ms-font-feature-settings: 'tnum';
	}
}

@media (max-width: 800px) {

	.latest-posts time {
		display: block;
		padding: 0;
		margin: 0;
		border: none;
	}

}


/* ==========================================================================
   Page: Work
   ========================================================================== */

.main--work {
	color: #5a5466;
	background: #ece9f2;
}

/* Job
   ========================================================================== */

.job {
	padding-top: 3em;
	padding-bottom: 3em;
}

/* Job Info */

.job-info {
	padding-top: 4em;
	text-align: right;
}

.browser-frame + .job-info {
	text-align: left;
}

/* Browser Frame */

.browser-frame {
	position: relative;
	overflow: hidden;
	padding-top: 1.6em;
	border: 2px solid rgba(255,255,255,.5);
	border-radius: 5px;

	img {
		width: 100%;
		border-top: 2px solid rgba(255,255,255,.5);
		border-radius: 0 0 4px 4px;
	}

	&:before {
		position: absolute;
		top: 10px;
		left: 12px;
		width: 10px;
		height: 10px;
		background: rgba(255,255,255,.5);
		content: "";
		box-shadow: 17px 0 0 rgba(255,255,255,.5), 34px 0 0 rgba(255,255,255,.5);
		border-radius: 50%;
	}
}


/* ==========================================================================
   Page: Blog
   ========================================================================== */

.is-blog {
	background-image: url(../img/bg_typewriter.png);
}

.main--blog {
	padding: 0;

	.sidebar {
		color: rgba(255,255,255,.4);
		background: rgba(255,255,255,.1);
	}
}

/* Posts
   ========================================================================== */

.post {
	padding: 2em 2.5em;
	margin-bottom: 6.4%;
	border-radius: 4px;
}

.post__header a {
	text-decoration: none;
}

/* Tags */

.post--tags {
	background: #fff;
}

.post-list {
	padding: 0;
	list-style: none;

	li + li {
		border-top: 1px solid #ddd;
	}

	a {
		display: block;
		line-height: 2.25em;
		text-decoration: none;
	}

	time {
		display: inline-block;
		padding-right: .8em;
		margin-right: .6em;
		font-size: .888888889em;
		border-right: 1px solid #ddd;
		-webkit-font-feature-settings: 'tnum';
		-moz-font-feature-settings: 'tnum';
		-ms-font-feature-settings: 'tnum';
	}
}

/* Text */

.post--text {
	color: #476363;
	background: #a0cecb;
}

/* Photo */

.post--photo {
	color: #ccc;
	background: #808080;

	.photo div {
		margin: -2em -2.5em 2em;
	}

	img {
		width: 100%;
		border-radius: 4px 4px 0 0;
	}
}

/* Quote */

.post--quote {
	color: #90693d;
	background: #e8ce4d;

	.post__header {
		display: none;
	}

	blockquote {
		margin: 0 0 .5em;
		font: 1.777777778em/1.230769231em "lexia", serif;

		p {
			margin: 0 0 .5em;
		}

		footer {
			font: .5625em/1.4em "proxima-nova", "Proxima Nova", sans-serif;
		}
	}
}



/* Link */

.post--link {
	color: #d3cce6;
	background: #684a9c;
}

/* Video */

.post--video {
	color: #ffd9de;
	background: #d8334a;
}

.video-container {
	position: relative;
	height: 0;
	padding-bottom: 64%;
	margin: -2em -2.5em 2em;
	border-radius: 4px 4px 0 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 4px 4px 0 0;
	}
}

/* Post meta
   ========================================================================== */

.post__meta {
	padding-top: 1em;
	font-size: .888888889em;

	ul {
		display: inline;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: .5em;
	}

	a {
		display: inline-block;
		text-decoration: none;
		transition: color .3s;
	}

	svg {
		width: 22px;
		height: 22px;
		fill: currentColor;
	}

}

/* Date */

.post__meta--info li:first-child {
	margin: 0;
}

/* Share */

.post__meta--actions {
	float: right;
}

.share {
	cursor: pointer;

	div {
		position: absolute;
		top: 100%;
		left: -39px;
		width: 100px;
		margin-top: 8px;
		font-size: .888888889em;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 5px rgba(0,0,0,.1);
		visibility: hidden;
		opacity: 0;
		transform-origin: top center;
		transform: scale(1.1);
		transition: all .3s;

		&:before {
			position: absolute;
			top: -8px;
			left: 50%;
			margin-left: -8px;
			border-bottom: 8px solid #fff;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			content: "";
		}
	}

	&:hover div {
		visibility: visible;
		opacity: 1;
		transform: none;
	}

	a {
		display: block;
		padding: .4em 1em;
		font-weight: 600;
		text-decoration: none;

		&:hover {
			background: #eee;
		}
	}

	a + a {
		border-top: 1px solid #ddd;
	}

	a:first-child {
		border-radius: 4px 4px 0 0;
	}

	a:last-child {
		border-radius: 0 0 4px 4px;
	}
}

.share--twitter {
	color: #55acee;
}

.share--facebook {
	color: #3c5c95;
}

.share--google-plus {
	color: #d94a3a;
}

/* Post Comments / Disqus
   ========================================================================== */

.comments {
	min-height: 300px;
	padding: 2em 2.5em;
	background: #101013;
	background: rgba(0,0,0,.5);
	border-radius: 4px;
}

/* ==========================================================================
   Page: Contact
   ========================================================================== */

.is-contact {
	background-image: url(../img/bg_stamps.png);
}

.main--contact {
	color: #806540;
	background: #ffea80;

	.sidebar {
		margin-top: 4em;
		color: #5f7993;
		background: #abddd4;
	}
}

/* Contact Form
   ========================================================================== */

.contact-form {

	input,
	textarea {
		width: 100%;
		padding: .8em 1.2em;
		margin: 2% 0;
		background: transparent;
		background: #fff7cc;
		border: 1px solid #e6d273;
		border: none;
		box-shadow: inset 0 1px 2px #dcb55f;
		transition: border .25s;
	}

	textarea {
		height: 200px;
		resize: none;
	}

	input:focus,
	textarea:focus {
		border-color: #cb6;
		outline: none;
	}

	// Submit
	.submit {
		position: relative;
		width: auto;
		margin: 0;
		font-weight: bold;
		text-transform: uppercase;
		color: #deb754;
		background: #fffb89;
		border: none;
		box-shadow: 0 1px 2px #dcc45f;
		transition:
		color .25s,
		background .25s;

		&:hover,
		&:focus {
			color: #d9ab38;
			background: #fff671;
		}

		&:active {
			top: 1px;
			box-shadow: 0 0 1px #dcc45f;
		}
	}

}

/* Placeholder */

.contact-form ::-webkit-input-placeholder {
	color: #ccbb66;
}

.contact-form :-moz-placeholder {
	color: #ccbb66;
}

.contact-form ::-moz-placeholder {
	color: #ccbb66;
}

.contact-form :-ms-input-placeholder {
	color: #ccbb66;
}

/*
 * Alert / Response
 */

.alert {
	float: right;
}

@media (max-width: 600px) {

	.alert {
		float: none;
		margin-top: 1em;
	}

}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media (max-width: 800px) {

	.post,
	.comments,
	.sidebar {
		padding: 1.5em 2em;
	}

}

@media (max-width: 600px) {

	.post,
	.comments,
	.sidebar {
		padding: 1.5em 2em;
	}

}