//
// Views: Work
// ----------------------------------------------------------------------------

.main--work {
	padding: 0;
}

.jobs {
	width: 100%;
	text-align: center;

	// Row

	&__row {
		clear: both;
	}

	// Links

	&__item {
		float: left;
		position: relative;
		overflow: hidden;
		width: 50%;
		text-decoration: none;

		@include breakpoint(800) {
			width: 100%;
		}

		figure {
			overflow: hidden;
		}

		figcaption {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translate3d(0,-50%,0);
		}

		// Title

		h1 {
			margin: 0;
			transition: all .4s;
		}

		// Role

		h4 {
			margin: 0;
			font-size: .875em;
			text-transform: uppercase;
			opacity: .5;
			transition: all .4s;
		}

		// Description

		p {
			position: absolute;
			top: 50%;
			width: 80%;
			margin: 0 10%;
			opacity: 0;
			transform: translate3d(0,-50%,0) scale(.9);
			transition: all .4s;
		}

		// Image

		img {
			display: block;
			width: 100%;
			transition: all .6s;
		}

		// Super cool hover effect

		&:hover,
		&:focus {

			h1 {
				opacity: 0;
				transform: translate3d(0,-25%,0) scale(1.1);
			}

			h4 {
				opacity: 0;
				transform: translate3d(0,50%,0) scale(1.1);
			}

			p {
				opacity: 1;
				transform: translate3d(0,-50%,0) scale(1);
			}

			img {
				transform: scale(1.1);
			}
		}

		// Job individual colours

		&--darkside figure {
			color: #fff;
			background: #6e6f74;
		}

		&--wildside figure {
			color: #734020;
			background: #fcc04d;
		}

		&--mexx figure {
			color: #f9e9bf;
			background: #d46033;
		}

		&--doctools figure {
			color: #05656e;
			background: #48c0c2;
		}

		&--bf figure {
			color: #fff;
			background: #49ab8e;
		}

		&--localhost figure {
			color: #737580;
			background: #fff;
		}
	}
}
