{% include header.html %}

	<div class="intro container clearfix">
		<div class="row">
			<div class="col col-2-3">
				<h1>Hey, fellas, have ya heard the news?</h1>
				<p>Mostly about development and design, but may also contain traces of random nerd stuff.</p>
			</div>
		</div>
	</div>

	<main class="main main--blog">
		<div class="container container--wide clearfix">
			<div class="row">
				<div class="col col-2-3">
					{{ content }}
				</div>
				{% include sidebar.html %}
			</div>
		</div>
	</main>

{% include footer.html %}