{% include header.html %}

	<div class="intro container clearfix">
		<div class="row">
			<div class="col col-2-3">
			{% if page.class == "work" %}
				<h1>The Portfolio of<br> Edmundo Santos.</h1>
				<p>Designer and front-end developer based in lovely Dublin, Ireland.</p>
			{% elsif page.class == "about" %}
				<h1 data-hover="— Sympathy For The Devil by The Rolling Stones">Please allow me<br> to introduce myself.</h1>
				<p>I'm Edmundo, front-end developer and web designer living in lovely Dublin, Ireland.</p>
			{% elsif page.class == "contact" %}
				<h1 data-hover="— Say It To Me Now by Glen Hansard">If you have something to say, say it to me now.</h1>
				<p>I'm always looking for new opportunities to challenge myself.</p>
			{% else page.class == "404" %}
				<h1>Four oh four,<br> page not found.</h1>
				<p>You're still here? It's over. Go <a href="/">home</a>. Go!</p>
			{% endif %}
			</div>
		</div>
	</div>

	<main class="main main--{{ page.class }}">

			<div class="container {% if page.container %}container--{{ page.container }}{% endif %} clearfix">

				{{ content }}

			</div>

	</main>

{% include footer.html %}